.notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #f5c6cb;
}

.notification p {
    margin: 0;
}